$componentWidth: 15rem;
$componentHeight: 3rem;

$transitionTimeLabel: 0.2s;
$borderRadius: 0.5rem;
$color: initial;
$focusedColor: blue;
$errorFontSize: 0.8rem;
$borderWidth: 2px;
$transitionLabelY: 50%;
$transitionLabelX: 1rem;
$transitionLabelScale: 0.9;
$fieldSetOffetTop: 12px;
$optionSelectedColor: rgb(212, 212, 212);
$focusedLegendMargin: 0 1rem 0 0.5rem;
$focusedLegendPadding: 0 0.5rem;

$calculatedWidth: calc($componentWidth - $transitionLabelX - 3rem);

.select {
  width: $componentWidth;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    max-width: $calculatedWidth;
    height: fit-content;
    margin: 0;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate($transitionLabelX, $transitionLabelY) scale(1);
    transition: $transitionTimeLabel ease-in;
  }
  p {
    color: red;
    margin: 0.25rem 0 0;
    font-size: $errorFontSize;
  }
  &.valued {
    color: $color;
    label {
      transform: translate($transitionLabelX, -$transitionLabelY)
        scale($transitionLabelScale);
      transition: $transitionTimeLabel ease-out;
    }
  }
  &.focused {
    color: $focusedColor;
    label {
      transform: translate($transitionLabelX, -$transitionLabelY)
        scale($transitionLabelScale);
      transition: $transitionTimeLabel ease-out;
    }
  }
  &__options {
    position: absolute;
    top: calc(100% + $borderWidth);
    width: 100%;
    background-color: white;
    color: $color;
    border-radius: $borderRadius;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
      rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;

    ul {
      padding: 0.5rem 0;
      margin: 0;
      li {
        list-style: none;
        padding: 0.5rem 1rem;

        &.selected {
          background-color: $optionSelectedColor;
        }
        &:hover {
          background-color: $optionSelectedColor;
        }
      }
    }
  }
  &__select-content {
    position: relative;
    width: 100%;
    height: $componentHeight;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0.2rem 0.5rem 0.2rem 1rem;
      border: 0;
      border-radius: $borderRadius;
      outline: none;
    }
    svg {
      position: absolute;
      display: inline-block;
      width: $componentHeight;
      height: $componentHeight;
      font-size: 1.5rem;
      top: 0;
      right: 0;
      user-select: none;
      transition: transform $transitionTimeLabel ease-in;
      &.focused {
        fill: blue;
        transform: rotate(180deg);
        transition: transform $transitionTimeLabel ease-in;
      }
    }

    fieldset {
      position: absolute;
      top: -$fieldSetOffetTop;
      margin: 0;
      padding: 0;
      border-radius: $borderRadius;
      width: 100%;
      outline: none;
      height: calc(100% + $fieldSetOffetTop);
      border-width: $borderWidth;
      :focus-visible {
        top: -$fieldSetOffetTop;
        height: calc(100% + $fieldSetOffetTop);
        border-color: $focusedColor;
        legend {
          margin: $focusedLegendMargin;
          max-width: 100%;
          padding: $focusedLegendPadding;
          transition: all $transitionTimeLabel ease-in;
        }
      }
      legend {
        position: relative;
        max-width: 0.01px;
        margin: 0 95% 0 5%;
        padding: 0;
        transition: all 0.1s ease-out;
        span {
          display: inline-block;
          max-width: $calculatedWidth;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: 0;
        }
      }
    }
    &.valued {
      fieldset {
        border-color: $color;
        legend {
          margin: $focusedLegendMargin;
          max-width: 100%;
          padding: $focusedLegendPadding;
          transition: all $transitionTimeLabel ease-in;
        }
      }
    }
    &.focused {
      fieldset {
        top: -$fieldSetOffetTop;
        height: calc(100% + $fieldSetOffetTop);
        max-width: 100%;
        border-color: $focusedColor;
        legend {
          margin: $focusedLegendMargin;
          max-width: $calculatedWidth;
          padding: $focusedLegendPadding;
          transition: all $transitionTimeLabel ease-in;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
