$transitionTimeLabel: 0.2s;
$componentHeight: 3rem;
$borderRadius: 0.5rem;
$color: initial;
$focusedColor: blue;
$errorFontSize: 0.8rem;

.select {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin: 0;
    z-index: 10;
    transform: translate(1rem, 50%) scale(1);
    transition: $transitionTimeLabel ease-in;
  }
  p {
    color: red;
    margin: 0.25rem 0 0;
    font-size: $errorFontSize;
  }
  &.valued {
    color: $color;
    label {
      transform: translate(1rem, -50%) scale(0.9);
      transition: $transitionTimeLabel ease-out;
    }
  }
  &.focused {
    color: $focusedColor;
    label {
      transform: translate(1rem, -50%) scale(0.9);
      transition: $transitionTimeLabel ease-out;
    }
    svg {
      transform: rotate(180deg);
    }
  }
  &__options {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    ul {
      li {
      }
    }
  }
  &__select-content {
    position: relative;
    width: 100%;
    height: $componentHeight;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0.2rem 0.6rem 0.2rem 1rem;
      border: 0;
      border-radius: $borderRadius;
      outline: none;
    }
    svg {
      position: absolute;
      display: inline-block;
      width: $componentHeight;
      height: $componentHeight;
      font-size: 1.5rem;
      top: 0;
      right: 0;
      user-select: none;
    }
    fieldset {
      position: absolute;
      top: -10px;
      margin: 0;
      padding: 0;
      border-radius: $borderRadius;
      width: 100%;
      height: calc(100% + 10px);
      legend {
        position: relative;
        max-width: 0.01px;
        margin: 0 95% 0 5%;
        padding: 0;
        transition: all 0.1s ease-out;
        span {
          display: inline-block;
          opacity: 0;
        }
      }
    }
    &.valued {
      fieldset {
        border-color: $color;
        legend {
          margin: 0 1rem 0 0.6rem;
          max-width: 100%;
          padding: 0 0.5rem;
          transition: all 0.2s ease-in;
        }
      }
    }
    &.focused {
      fieldset {
        top: -10px;
        height: calc(100% + 10px);
        border-color: $focusedColor;
        legend {
          margin: 0 1rem 0 0.6rem;
          max-width: 100%;
          padding: 0 0.5rem;
          transition: all 0.2s ease-in;
        }
      }
      svg {
        fill: blue;
      }
    }
  }
}
