* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}

body {
  margin: 0;
  background-color: antiquewhite;
  font-family: 'Playfair Display Regular', serif;
}

.content {
  width: 1600px;
  margin: 0 auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media (max-width: 640px) {
    width: auto;
    grid-template-columns: 1fr;
  }
}

form {
  padding: 1rem 2rem;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 0.75rem;
}

.form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

select {
  width: 50%;
}

.block {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

label {
  margin-bottom: 0.25rem;
}
